*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  margin: auto;
  max-inline-size: 1140px;
  gap: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;*/
  /*background-color: rgb(230, 0, 255);*/
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inline-size: 711px;
  margin-top: 78px;

  /*background-color: chartreuse;*/
}

.result__video-container {
  inline-size: 100%;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;

  /*background-color: #d0c902;*/
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  /*gap:40px;*/
  align-items: end;

  /*background-color: darkorchid;*/
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;

  /*background-color: blueviolet;*/
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;

  /*background-color: green;*/
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;

  /*background-color: crimson;*/
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-block-end: 5px;

  /*background-color: goldenrod;*/
}

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;

  /*background-color: blue;*/
}
.search-form__pseudo-checkbox::before {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  inset: 1px;
  background-color: #fff;
}

.content__details {
  inline-size: 399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;

  /*background-color:dimgray;*/
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  block-size: 298px;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;
}
.content__list-item {
  inline-size: 394px;
}

.content__video-card {
  display: flex;
  padding: 2px;
  align-items: flex-start;
  justify-content: space-between;
}
.content__video-card-description-container {
  flex-grow: 1;
  text-decoration: none;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-block-end: 6px;

  /*background-color: darkred;*/
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  block-size: 103px;
  object-fit: cover;
}

/*.preloader-template {
  position: absolute;
}*/

.button {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
}
.more-button {
  inline-size: 399px;
  block-size: 34px;
}

/* ПСЕВДОКЛАССЫ СОСТОЯНИЙ*/

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:has(input:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__textfield:active {
  outline: none;
  border: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: none;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  border: 1px solid #fff;
  outline: none;
}
