*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  margin: auto;
  max-inline-size: 1140px;
  gap: 30px;
  align-items: flex-end;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inline-size: 711px;
}

.result__video-container {
  inline-size: 100%;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__textfield {
  min-inline-size: 225px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-block-end: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.content__details {
  inline-size: 399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  inline-size: 415px;
  block-size: 298px;
  overflow-y: auto;

  position: relative;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  block-size: 103px;
  margin: 2px;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;
}

.content__video-card {
  inline-size: 394px;
  display: flex;
}
.content__video-card-description-container {
  flex-grow: 1;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-block-end: 6px;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  object-position: center;
  block-size: 103px;
  inline-size: 194px;
  object-fit: cover;
}

.button {
  color: #fff;
  cursor: pointer;
  border: 1px solid currentColor;
  background-color: transparent;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
}
.more-button {
  inline-size: 398px;
  block-size: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* ПСЕВДОКЛАССЫ СОСТОЯНИЙ*/

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:has(input:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: none;
  border: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}

.search-form__label:hover  .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
  outline: none;
}

.content__card-link:active {
  background: #545050;
}
